<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784097360045-hnfc21qjuvtb1be3498t6f44ctprhh41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784097360045-hnfc21qjuvtb1be3498t6f44ctprhh41</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>784097360045-lpmc82nhkil77sd9gne86ghtf6d81mfe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQo9y1zYUCaW5AuaGRHcLAuI98tfgHG54</string>
	<key>GCM_SENDER_ID</key>
	<string>784097360045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitness.fitrepo</string>
	<key>PROJECT_ID</key>
	<string>fitness-feaa5</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-feaa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784097360045:ios:cae0e4cbe1f9ad20</string>
	<key>DATABASE_URL</key>
	<string>https://fitness-feaa5.firebaseio.com</string>
</dict>
</plist>